<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="/public/404.css">
  <title><%= title %></title>
</head>
<body>

  <div class="main">
    <header>
      <a href="/" class="logo-header"><h2>Jibber</h2></a>
      <h1>Page not Found!</h1>
      <div class="container-user"></div>
    </header>

    <div class="error">
      <h1>Error 404!</h1>
      <span>This page could not be found.</span>
      <a href="/">
        <button class="return-home">Return to Dashboard!</button>
      </a>
    </div>
  </div>

</body>
</html>