<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="/public/login-secret-room.css">
  <link rel="stylesheet" href="/public/header.css">
  <link rel="stylesheet" href="/public/header-login-btns.css">
  <title><%= title %></title>
</head>
<body>
  
  <div class="main">
    <%- include("header", {}) %>

    <div class="content">
      <% if (locals.user) {%>
        <form action="/login-secret-room" method="post">
          <% if (error) {%>
            <div class="error-container">
              <span>Incorrect Secret Key!</span>
            </div>
          <% } %>
          <label for="password">Secret Key*:</label>
          <input name="password" type="password" placeholder="Secret Key" required>

          <button class="btn-sumbit" type="submit">Sumbit</button>
        </form>
      <% } else { %>
        <h1>User not logged!</h1>
      <% } %>
    </div>
  </div>

</body>
</html>