<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="/public/logIn.css">
  <title><%= title %></title>
</head>
<body>

  <div class="main">
    <header>
      <a href="/" class="logo-header"><h2>Jibber</h2></a>
      <h1>Log In</h1>
      <div class="container-user">
        <% if (locals.user) { %>
          <div id="account-details" class="account-details">
            <div class="details">
              <span class="username-account-details"><%= user.username %></span>
              <a href="/logout">Log Out</a>
            </div>
          </div>
          <span class="username-account"><%= user.username %></span>
          <img class="user-logo" src="/assets/user.png" alt="account">
        <% } else { %>
          <h1>Not logged</h1>
        <% } %>
      </div>
    </header>

    <div class="content">
      <div class="container-log-in">
        <form action="/log-in" method="post">
          <label for="username">Username*:</label>
          <input name="username" type="text" id="username" placeholder="Username" required>

          <label for="password">Password*:</label>
          <input name="password" type="password" id="password" placeholder="Password" required>

          <button class="btn-sumbit" type="submit">Sumbit</button>
        </form>
      </div>
    </div>
  </div>

</body>
</html>