<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="/public/logIn.css">
  <link rel="stylesheet" href="/public/header-login-btns.css">
  <link rel="stylesheet" href="/public/header.css">
  <title><%= title %></title>
</head>
<body>

  <div class="main">
    <%- include("header", {}) %>

    <div class="content">
      <div class="container-log-in">
        <% if (errorMessage) {%>
          <div class="error-container">
            <span><%= errorMessage %></span>
          </div>
        <% } %>
        <form action="/sign-in" method="post">
          <label for="username">Username*:</label>
          <input name="username" type="text" id="username" placeholder="Username" required>

          <label for="password">Password*:</label>
          <input name="password" type="password" id="password" placeholder="Password" required>

          <button class="btn-sumbit" type="submit">Sumbit</button>
        </form>
      </div>
    </div>
  </div>

</body>
</html>