<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="/public/register.css">
  <link rel="stylesheet" href="/public/header-login-btns.css">
  <title><%= title %></title>
</head>
<body>
  
  <div class="main">
    <%- include("header-login", {}) %>

    <div class="content">
      <div class="container-register">
        <% if (error) {%>
          <div class="error-container">
            <span><%= error %></span>
          </div>
        <% } %>
        <form action="/sign-up" method="post">
          <label for="username">Username*:</label>
          <input name="username" type="text" id="username" placeholder="Username" required>
          
          <label for="email">Email*:</label>
          <input name="email" type="email" id="email" placeholder="user@example.com" required>

          <label for="password">Password*:</label>
          <input name="password" type="password" id="password" placeholder="Password" required>

          <button class="btn-sumbit" type="submit">Sumbit</button>
        </form>
      </div>
    </div>
  </div>

</body>
</html>