<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="/public/register.css">
  <title><%= title %></title>
</head>
<body>
  
  <div class="main">
    <header>
      <a href="/" class="logo-header"><h2>Jibber</h2></a>
      <h1>Register New Account</h1>
      <div class="container-user"></div>
    </header>
  </div>

</body>
</html>