header {
  display: flex;
  height: var(--header-size);
  align-items: center;
  justify-content: space-between;
  padding-left: 4em;
  padding-right: 4em;
  border-bottom: 1px solid #333333;
}

header .logo-header {
  display: flex;
  justify-content: center;
  color: white;
  text-decoration: none;
  letter-spacing: 2px;
  transition: all 0.3s ease-in-out;
  width: var(--header-child-width);
}

header h2 {
  background-image: linear-gradient(90deg,rgba(255, 255, 255, 1) 25%, #737373 100%);
  background-clip: auto;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

header h1 {
  font-family: "Kachen";
  transition: all 0.3s ease-in-out;
}

header .container-user {
  position: relative;
  display: flex;
  justify-content: end;
  width: var(--header-child-width);
}

header .logo-header:hover {
  letter-spacing: 6px;
}

header h1:hover {
  color: #d1d5db;
}

header .container-user img {
  height: var(--height-img-icon);
}

.user-logo {
  padding-right: 15px;
}

.account-details {
  display: none;
}

.container-user:hover .account-details {
  display: flex;
  opacity: 1;
  z-index: 1;
}

.container-user:hover .user-logo,
.container-user:hover .username-account {
  opacity: 0;
  z-index: 0;
  transition: all 0.5s ease-in-out;
}

header .container-user .account-details img {
  padding-left: 1em;
  border-left: 1px solid white;
  height: var(--height-img-icon);
}

header .container-user .account-details {
  position: absolute;
  display: flex;
  opacity: 0;
  background-color: rgba(24, 24, 27, 0.25);
  background: -webkit-linear-gradient(90deg, rgba(0, 0, 0, 0.25),rgba(13, 21, 33, 0.25),rgba(7, 14, 24, 0.25));
  background: linear-gradient(90deg, rgba(0, 0, 0, 0.25),rgba(13, 21, 33, 0.25),rgba(7, 14, 24, 0.25));
  backdrop-filter: blur(8px);
  padding: 1em;
  padding-right: 15px;
  border-radius: 8px;
  width: var(--account-deatils-width);
  transition: all 0.5s ease-in-out;
}

header .container-user .account-details a {
  display: flex;
  color: #d1d5db;
  text-decoration: none;
  margin-right: 1em;
  transition: all 0.15s ease-in-out;
}

header .container-user .account-details a:hover {
  color: white;
}

header .container-user span {
  margin-right: 0.5em;
  color: #d1d5db;
  transition: all 0.3s ease-in-out;
}

header .container-user span:hover {
  color: white;
}

header .container-user .account-details .details {
  display: flex;
  flex-direction: column;
  width: 100%;
}

header .container-user .account-details .details a {
  margin-bottom: 0.25em;
}

header .container-user .account-details .details .username-account-details {
  display: flex;
  justify-content: center;
  width: 100%;
  margin-bottom: 1em;
  padding-bottom: 0.25em;
  border-bottom: 1px solid white;
  border-radius: 5px;
}

.container-user .username-account {
  display: flex;
  align-items: center;
  height: var(--height-img-icon);
}