@font-face {
  font-family: "Kachen";
  src: url("../fonts/Kachenjunga/Kanchenjunga-SemiBold.ttf");
}

@font-face {
  font-family: "Cascadia";
  src: url("../fonts/Cascadia_Code/static/CascadiaCode-Bold.ttf");
}

@font-face {
  font-family: "Cascadia Thin";
  src: url("../fonts/Cascadia_Code/static/CascadiaCode-Light.ttf");
}

@font-face {
  font-family: "Ubuntu";
  src: url("../fonts/Ubuntu/Ubuntu-Light.ttf");
}

:root {
  --header-size: 65px;
  --content-height: calc(100vh - var(--header-size));
  --header-child-width: 180px;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: #030712;
  color: white;
  font-family: "Ubuntu", sans-serif;
}

.main {
  min-height: 100vh;
}

header {
  display: flex;
  height: var(--header-size);
  align-items: center;
  justify-content: space-between;
  padding-left: 4em;
  padding-right: 4em;
  border-bottom: 1px solid #333333;
}

header .logo-header {
  display: flex;
  justify-content: center;
  color: white;
  text-decoration: none;
  letter-spacing: 2px;
  transition: all 0.3s ease-in-out;
  width: var(--header-child-width);
}

header h2 {
  background-image: linear-gradient(90deg,rgba(255, 255, 255, 1) 25%, #737373 100%);
  background-clip: auto;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

header h1 {
  font-family: "Kachen";
  transition: all 0.3s ease-in-out;
}

header .container-user {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: end;
  width: var(--header-child-width);
}

header .logo-header:hover {
  letter-spacing: 6px;
}

header h1:hover {
  color: #d1d5db;
}

header .container-user img {
  height: 32px;
}

.user-logo {
  padding-right: 15px;
}

.account-details {
  display: none;
}

.container-user:hover .account-details {
  display: flex;
}

.container-user:hover .user-avatar {
  opacity: 0;
}

header .container-user .account-details img {
  padding-left: 1em;
  border-left: 1px solid white;
  height: 32px;
}

header .container-user .account-details {
  position: absolute;
  display: none;
  align-items: center;
  background-color: #111827;
  padding: 10px;
  padding-right: 15px;
  border-radius: 8px;
}

header .container-user .account-details a {
  color: #d1d5db;
  text-decoration: none;
  margin-right: 1em;
}

header .container-user .account-details a:hover {
  span {
    color: white;
  }
}

.content {
  display: flex;
  justify-content: center;
  min-height: var(--content-height);
}

.posts {
  margin-top: 2em;
  display: flex;
  flex-direction: column;
  width: 50%;
  min-width: 500px;
  gap: 2em;
}

.posts .item {
  display: flex;
  flex-direction: column;
  gap: 1em;
  min-height: 50px;
  padding: 15px;
  border-radius: 8px;
  background-color: #111827;
  cursor: pointer;
  transition: all 0.3s ease-in-out;
}

.posts .item:hover {
  transform: scale(1.025);
}

.posts .item .message {
  color: #d1d5db;
}

.posts .item .user-info {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 5px;
}

.posts .item .user-info img {
  height: 24px;
}