@font-face {
  font-family: "Kachen";
  src: url("../fonts/Kachenjunga/Kanchenjunga-SemiBold.ttf");
}

@font-face {
  font-family: "Cascadia";
  src: url("../fonts/Cascadia_Code/static/CascadiaCode-Bold.ttf");
}

@font-face {
  font-family: "Cascadia Thin";
  src: url("../fonts/Cascadia_Code/static/CascadiaCode-Light.ttf");
}

@font-face {
  font-family: "Ubuntu";
  src: url("../fonts/Ubuntu/Ubuntu-Light.ttf");
}

:root {
  --header-size: 65px;
  --content-height: calc(100vh - var(--header-size));
  --header-child-width: 180px;
  --height-img-icon: 32px;
  --account-deatils-width: 200px;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: #030712;
  color: white;
  font-family: "Ubuntu", sans-serif;
}

.main {
  min-height: 100vh;
}

header {
  display: flex;
  height: var(--header-size);
  align-items: center;
  justify-content: space-between;
  padding-left: 4em;
  padding-right: 4em;
  border-bottom: 1px solid #333333;
}

header .logo-header {
  display: flex;
  justify-content: center;
  color: white;
  text-decoration: none;
  letter-spacing: 2px;
  transition: all 0.3s ease-in-out;
  width: var(--header-child-width);
}

header h2 {
  background-image: linear-gradient(90deg,rgba(255, 255, 255, 1) 25%, #737373 100%);
  background-clip: auto;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

header h1 {
  font-family: "Kachen";
  transition: all 0.3s ease-in-out;
}

header .container-user {
  width: var(--header-child-width);
}

header .logo-header:hover {
  letter-spacing: 6px;
}

header .container-user {
  position: relative;
  display: flex;
  justify-content: end;
  width: var(--header-child-width);
}

header h1:hover {
  color: #d1d5db;
}

header .container-user img {
  height: var(--height-img-icon);
}

.user-logo {
  padding-right: 15px;
}

.account-details {
  display: none;
}

.container-user:hover .account-details {
  display: flex;
  opacity: 1;
  z-index: 1;
}

.container-user:hover .user-avatar,
.container-user:hover .username-account {
  opacity: 0;
  z-index: 0;
  transition: all 0.3s ease-in-out;
}

header .container-user .account-details img {
  padding-left: 1em;
  border-left: 1px solid white;
  height: var(--height-img-icon);
}

header .container-user .account-details {
  position: absolute;
  display: flex;
  opacity: 0;
  background-color: #111827;
  padding: 1em;
  padding-right: 15px;
  border-radius: 8px;
  width: var(--account-deatils-width);
  transition: all 0.3s ease-in-out;
}

header .container-user .account-details a {
  display: flex;
  color: #d1d5db;
  text-decoration: none;
  margin-right: 1em;
  transition: all 0.1s ease-in-out;
}

header .container-user .account-details a:hover {
  color: white;
}

header .container-user span {
  margin-right: 0.5em;
  color: #d1d5db;
  transition: all 0.3s ease-in-out;
}

header .container-user span:hover {
  color: white;
}

header .container-user .account-details .details {
  display: flex;
  flex-direction: column;
  width: 100%;
}

header .container-user .account-details .details .username-account-details {
  display: flex;
  justify-content: center;
  width: 100%;
  margin-bottom: 1em;
  padding-bottom: 0.25em;
  border-bottom: 1px solid white;
  border-radius: 5px;
}

.container-user .username-account {
  display: flex;
  align-items: center;
  height: var(--height-img-icon);
}

.content {
  display: flex;
  justify-content: center;
  min-height: var(--content-height);
}

.content .container-register {
  min-width: 300px;
  max-width: 600px;
  width: 50%;
  margin-top: 2em;
  margin-bottom: 2em;
}

.content .container-register form {
  display: flex;
  flex-direction: column;
  gap: 0.5em;
}

.content .container-register form label {
  display: flex;
  transition: 0.1s ease-in-out;
}

.content .container-register form label:hover {color: #d1d5db;}

.content .container-register form input {
  border: none;
  border-radius: 5px;
  height: 45px;
  padding-left: 10px;
  margin-bottom: 1em;
  background-color: #111827;
  color: white;
  transition: 0.2s ease-in-out;
}

.content .container-register form input:focus {
  outline: none;
  box-shadow: 0 0 0 3px #374151;
}

.content .container-register form .btn-sumbit {
  border: none;
  height: 45px;
  background-color:black;
  background-image:
  radial-gradient(white, rgba(255,255,255,.2) 2px, transparent 40px),
  radial-gradient(white, rgba(255,255,255,.15) 1px, transparent 30px),
  radial-gradient(white, rgba(255,255,255,.1) 2px, transparent 40px),
  radial-gradient(rgba(255,255,255,.4), rgba(255,255,255,.1) 2px, transparent 30px);
  background-size: 550px 550px, 350px 350px, 250px 250px, 150px 150px;
  background-position: 0 0, 20px 30px, 140px 30px, 70px 50px;
  border-radius: 5px;
  border: 1px solid #111827;
  color: white;
  font-family: "Ubuntu";
  font-size: 1rem;
  transition: 0.5s all ease-in-out;
}

.content .container-register form .btn-sumbit:hover {
  background-position: 0 0, 20px 30px, 140px 140px, 70px 100px;
  box-shadow: 1px 1px 48px 3px rgba(0,0,0,0.75);
  -webkit-box-shadow: 1px 1px 48px 9px rgba(0,0,0,0.75);
  -moz-box-shadow: 1px 1px 48px 9px rgba(0,0,0,0.75);
}

.content .container-register form .btn-sumbit:active {
  transition: 0.225s ease-in-out;
  background-size: 50% 550%;
}

.content .container-register .error-container {
  display: flex;
  align-items: center;
  height: 35px;
  background-color: #991b1b;
  border-radius: 5px;
  padding-left: 10px;
  margin-bottom: 1em;
}